

<h3 *ngIf="products;else noProduct">{{name}}</h3>
<ng-template #noProduct>
    <div class="alert alert-danger">
        ÜRÜN YOOOOOOOOOOOOOOOOOOOOOOOK
    </div>
</ng-template>

<div class="row">
    <div *ngFor="let product of products" class="card m-2" style="width: 18rem;">
        <img [src]="product.thumbnail" class="card-img-top w-100">
        <div class="card-body">
            <h5 class="card-title">{{product.title}} - {{product.price}}</h5>
            <p class="card-text">{{product.description}}</p>
            <a (click)="addToCart(product)" class="btn btn-primary">Sepete Ekle</a>
        </div>
    </div>
</div>